{% extends 'base.html' %}

{% block head_title %} Home {% endblock head_title %}
{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Reunion</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="post-create-form" method="POST" action="/create-post">
            {% csrf_token %}
            <div id='post-create-form-error'></div>
            <input type="hidden" value='/' name="next" />
            <textarea required= "required" class="form-control" name="content"  placeholder="your post"></textarea>
            <button type = "submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>
<div class="row" id="posts">

</div>
<script>

    function handlePostFormError(msg, display){
        var myErrorDiv = document.getElementById('post-create-form-error')
        if(display === true){
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        }else{
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }
    
    function handlePostCreateFormDidSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function(){
            if(xhr.status === 201){
                handlePostFormError("", false)
                const newPost = xhr.response
                const newPostElement = formatPostElement(newPost)
                const ogHtml = postsContainerElement.innerHTML
                postsContainerElement.innerHTML = newPostElement + ogHtml
                myForm.reset()
            } else if(xhr.status === 400){
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMsg;
                if(contentError){
                    contentErrorMsg = contentError[0];
                    if(contentErrorMsg){
                        handlePostFormError(contentErrorMsg, true)
                    }
                    else{
                        alert("An error occurred, please try again.")
                    }
                }else {
                    alert("An error occurred, please try again.")
                }
            }
            else if(xhr.status === 401){
                alert("Your must login!")
                window.location.href = "/login"
            }
            else if(xhr.status === 403){
                alert("Your must login!")
                window.location.href = "/login"
            }
            else if(xhr.status === 500){
                alert("There was a server error. Please try again!")
            }
        }
        xhr.onerror = function(){
            alert("An error occurred. Please try again later.")
        }
        xhr.send(myFormData)
    }

    const postsContainerElement = document.getElementById('posts')
    const postCreateFormEl = document.getElementById("post-create-form")
    postCreateFormEl.addEventListener("submit", handlePostCreateFormDidSubmit)

    function loadPosts(postsElement){
        const xhr = new XMLHttpRequest()
        const method = "GET"
        const url = "/api/posts"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            const serverResponse = xhr.response
            const listedItems = serverResponse
            var finalPostStr=  ""
            var i;
            for(i = 0; i < listedItems.length; i++){
                var currItem = formatPostElement(listedItems[i])
                finalPostStr += currItem
            }
            postsElement.innerHTML = finalPostStr
        }
        xhr.send()
    }

    loadPosts(postsContainerElement)

    
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    function handlePostActionBtn(post_id, currentCount, action){
        const csrf_token = getCookie('csrftoken')
        const url = "/api/posts/action/"
        const method = "POST"
        const data = JSON.stringify({
            id: post_id,
            action: action
        })
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrf_token)
        xhr.onload = function(){
            loadPosts(postsContainerElement)
        }
        xhr.send(data)
        currentCount++
    }

    function RepostBtn(post){
        return "<button class='btn btn-outline-success btn-small' onclick=handlePostActionBtn(" + 
        post.id+","+ post.likes+",'repost'"+")> Repost</button>"
    }

    function UnLikeBtn(post){
        return "<button class='btn btn-outline-primary btn-small' onclick=handlePostActionBtn(" + 
        post.id+","+ post.likes+",'unlike'"+")> UnLike</button>"
    }

    function LikeBtn(post){
        return "<button class='btn btn-primary btn-small' onclick=handlePostActionBtn(" + 
        post.id+","+ post.likes+",'like'"+")>" + post.likes + " Likes</button>"
    }

    function formatPostElement(post){
        var formatedPost = "<div class='col-12 col-md-10 border rounded py-3 mb-4 mt-4 mx-auto post' id='post-" + post.id + 
        "'><p>" + post.content +  
            "</p><div class='btn-group'>" + LikeBtn(post)+ 
                UnLikeBtn(post) +
                RepostBtn(post) +
            "</div></div>"
        return formatedPost;
    }
</script>
{% endblock content %}
